<section>
  <div class="container">

    <table class="table mt-5">

      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Name</th>
           <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>

      <tbody>
        {{#each products}}
        <tr>

          <td><img style="width: 70px;height:70px" src="/product-images/{{this.product._id}}.jpg" alt=""></td>
          <td>{{this.product.Name}}</td>
          <td>	₹{{this.product.Price}}</td>
          <td>
            <button   class= "btn btn-primary cart-item-count mr-3 "
              onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
              <span id="{{this.product._id}}"> {{this.quantity}}</span> 
               <button class="btn btn-primary cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
          </td>
          <td>
            <a href="/cart/remove-product/{{this._id}}" class="btn btn-danger"  onclick="return confirm('remove the product{{this.name}}?')">Remove</a>
            
          </td>

        </tr>

        {{/each}}
      </tbody>
    </table>
    <a href="/place-order" class="float-right btn btn-success" style=" float: right;    margin-right: 110px;">Place order</a>
    <h3 class="float-right " <h3 class="float-right " style=" float: right; margin-right: 350px; margin-top: 10; margin-top: 4px;font-size: x-large;">{{total}}</h3>
   
   

   
   </div>
</section>

<script>
  function changeQuantity(cartId, proId, count) {
    let quantity=parseInt(document.getElementById(proId).innerHTML)
    count=parseInt(count)
    $.ajax({
      url: '/change-product-quantity',
      data: {
        cart: cartId,
        product: proId,
        count: count,
        quantity:quantity
      },
      method: 'post',
      success: (response) => {
        if(response.removeProduct){
           alert("product removed from cart") 
           location.reload();
        }else{
          document.getElementById(proId).innerHTML=quantity+count
        }
       
       
      }
    })
  }
</script>


